venv
*.pt
train/*
test/*
valid/*
outputs/*
weights/*
*.yaml
*.jpg
*.avi
*.csv
events.out.tfevents.1727333771.nnbaitei.13656.0
events.out.tfevents.1727333771.nnbaitei.13656.0
README.dataset.txt
README.roboflow.txt